<div style="width: 600px; height: 680px; 
box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.1); transform: translateX(-50%); position: absolute; left: 50%; 
background: rgba(244, 245, 246, 0.95); text-align: center">
        
        <div style="margin-top: 35px;">
            <img src="app/assets/envelope.png"/>
        </div>
        <h2 style="font-family: sans-serif">Simple Mail</h2>

        <div style="border-top: 1px solid #7fc8da; width: 550px;  display: inline-block;  margin-bottom: 20px;"></div>

        <router-outlet></router-outlet>

        

    </div>


